* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    height: 100vh;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    background-color: #76777c;
    height: 80vh;
    width: 20vw;
    border-radius: 20px;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: -10px;
}

.cabeca {
    margin-top: 40px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    margin-top: 15px;
    color: #fff;
}

h3 {
    margin-top: -20px;
    color: #C4D979;
}

.link {
    flex-direction: column;
}

button {
    cursor: pointer;
    background-color: #191f28;
    color: #fff;
    margin-bottom: 15px;
    height: 2.5rem;
    width: 20em;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    
}

button:hover{
    background-color: #c8f22ea2;
    color: #fff;
}

 @media (min-width: 360px) and (max-width: 880px) {
    .container {
        width: 90vw;
        height: 90vh;
    }

    button {
        font-size: 16px;
        width: 18rem;
        height: 2.8rem;
    }
} 

 /* @media (min-width: 720px) {
    .container {
        width: 90vw;
        height: 86vh;
    }
}

@media (min-width: 960px) {
    .container {
        width: 90vw;
        height: 86vh;
    }
}  */
